/* Navigation Start */
/* Navigation Container */
.navigation-container {
    padding: 12px 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--amber-base);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* Navigation Bar */
.navigation-bar {
    display: flex;
    max-width: 1024px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
nav .logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

nav .logo img {
    width: 48px;
    height: 48px;
}

nav .logo span {
    font-weight: 700;
}

/* Navigation Links */
.navigation-links-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navigation-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navigation-links a {
    font-weight: 700;
}

.register-button,
.login-button {
    padding: 8px 16px;
    border: none;
    background-color: var(--dark-base);
    color: var(--light-base);
    border-radius: 4px;
    cursor: pointer;
}

.login-button {
    background-color: transparent;
    border: 2px solid var(--dark-base);
    color: var(--dark-base);
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger-menu span {
    display: block;
    width: 24px;
    height: 3px;
    background-color: var(--dark-base);
    border-radius: 2px;
}

.profile-photo img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-photo span {
    display: none;
}

/* Responsive Design */
@media screen and (max-width: 640px) {
    /* Hide regular navigation links */
    .navigation-links-container {
        display: none;
        gap: 16px;
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        background-color: var(--amber-base);
        padding: 0px 24px 12px;
    }

    .navigation-links {
        flex-direction: column;
        align-items: normal;
        gap: 8px;
    }

    /* Show hamburger menu */
    .hamburger-menu {
        display: flex;
    }

    /* Show menu when clicked */
    .navigation-container.active .navigation-links-container {
        display: block;
        top: 72px;
    }

    .navigation-container.active .navigation-links-container a {
        display: inline-block;
        width: 100%;
    }

    .navigation-container.active .navigation-links-container a.profile-photo {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .profile-photo span {
        display: inline-block;
    }
}

/* Navigation End */

/* Footer Start */
/* Footer Container */
.footer-container {
    width: 100%;
    background-color: var(--dark-base);
    color: var(--light-base);
}

.footer {
    display: flex;
    max-width: 1024px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 12px 24px;
}

.footer a {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--light-base);
    font-weight: 700;
}

.footer > a > img {
    width: 48px;
    height: 48px;
}

.social-medias {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.social-medias a svg {
    width: 24px;
    height: 24px;
    color: var(--light-base);
}

@media screen and (max-width: 640px) {
    .footer {
        flex-direction: column;
    }
}

/* Footer End */

/* Register Start */
/* Registration Container */
.register-container {
    max-width: 1024px;
    margin: 128px auto 72px;
    background-color: var(--light-base);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}

.greeting-container {
    max-width: 512px;
    padding: 24px;
    background-color: var(--amber-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
}

.greeting-container a {
    padding: 8px 16px;
    background-color: var(--dark-base);
    color: var(--light-base);
    border-radius: 4px;
    font-weight: 700;
}

.register-form {
    margin: auto;
    text-align: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-form-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-form-body input {
    font-family: "Nunito", sans-serif;
    padding: 12px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.register-form-body input[type="submit"] {
    background-color: var(--green-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .register-container {
        flex-direction: column;
        margin: 96px 8px 48px;
    }

    .greeting-container {
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .register-container {
        margin: 96px 24px 48px;
    }
}

/* Register End */

/* Login Start */
.login-container {
    max-width: 1024px;
    min-height: 480px;
    margin: 128px auto 72px;
    background-color: var(--light-base);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row-reverse;
    border-radius: 12px;
    overflow: hidden;
}

.greeting-container {
    max-width: 512px;
    padding: 24px;
    background-color: var(--amber-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-align: center;
}

.greeting-container a {
    padding: 8px 16px;
    background-color: var(--dark-base);
    color: var(--light-base);
    border-radius: 4px;
    font-weight: 700;
}

.login-form {
    margin: auto;
    text-align: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-form-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-form-body input {
    font-family: "Nunito", sans-serif;
    padding: 12px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.login-form-body input[type="submit"] {
    background-color: var(--green-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .login-container {
        flex-direction: column;
        margin: 96px 8px 48px;
    }

    .greeting-container {
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .login-container {
        margin: 96px 24px 48px;
    }
}

/* Login End */

/* About Us Start */

/* Hero Section Start */
.hero-about-us-container {
    position: relative;
    min-height: 512px;
    padding: 196px 8px;
    background-color: rgba(15, 23, 42, 1);
}

.hero-about-us-container::before {
    content: "";
    background-image: url("../images/backgrounds/italian-foods.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6; /* Adjust the opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero-about-us-container > * {
    position: relative;
    z-index: 2;
}

.hero-about-us {
    gap: 16px;
    color: var(--light-base);
    max-width: 1024px;
    margin: auto;
}

.hero-about-us-content {
    max-width: 640px;
}

.hero-about-us-content h1 {
    font-weight: 700;
}

.hero-about-us-content h1,
.hero-about-us-content h2 {
    margin-bottom: 4px;
}

.hero-about-us-content p {
    margin-bottom: 16px;
}

.hero-about-us-content .explore-recipes-link {
    background-color: var(--green-base);
    font-weight: 700;
    color: var(--light-base);
    padding: 8px 16px;
    border-radius: 4px;
}

@media screen and (max-width: 640px) {
    .hero-about-us-container {
        padding: 128px 8px 72px;
    }

    .hero-about-us-content p {
        text-align: justify;
    }
}

@media screen and (max-width: 1024px) {
    .hero-about-us-container {
        padding: 128px 24px 72px;
    }
}

/* Hero Section End */

/* Achievements Start */
.achievements-container {
    background-color: var(--green-base);
    padding: 24px 0;
}

.achievements {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.achievement {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--light-base);
}

.achievement svg {
    width: 48px;
    height: 48px;
    display: none;
}

.achievement h3 {
    font-weight: 700;
}

.achievement p {
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .achievements-container {
        padding: 24px;
    }

    .achievements {
        gap: 12px;
    }
}

@media screen and (max-width: 640px) {
    .achievements {
        flex-direction: column;
        gap: 12px;
    }

    .achievement svg {
        display: none;
    }
}

/* Achievements End */

/* Features Start */
.features-container {
    padding: 24px 0;
}

.features {
    max-width: 1024px;
    margin: auto;
}

.features-head h2 {
    font-weight: 700;
    margin-bottom: 12px;
}

.features-body {
    display: flex;
    gap: 24px;
}

.features-body .feature {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--green-base);
    color: var(--light-base);
    padding: 12px;
    border-radius: 12px;
    flex: 1;
}

.features-body .feature h2 {
    font-weight: 700;
}

.features-body .feature svg {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 1024px) {
    .features-container {
        padding: 24px;
    }
}

@media screen and (max-width: 640px) {
    .features-body {
        flex-direction: column;
        gap: 12px;
    }

    .features-body .feature svg {
        width: 32px;
        height: 32px;
    }
}

/* Features End */

/* Testimonials Start */
.testimonials-container {
    padding: 24px 0;
    background-color: var(--dark-base);
}

.testimonials {
    max-width: 1024px;
    margin: auto;
}

.testimonials-head {
    color: var(--light-base);
    margin-bottom: 12px;
    font-weight: 700;
}

.testimonials-body {
    display: flex;
    gap: 24px;
    text-align: justify;
}

.testimonials-body .testimonial {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--amber-base);
    color: var(--light-base);
    padding: 12px;
    border-radius: 12px;
    flex: 1;
}

.testimonials-body .testimonial .testimonial-profile {
    display: flex;
    gap: 8px;
    align-items: center;
}

.testimonials-body .testimonial .testimonial-profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.testimonials-body .testimonial .testimonial-name {
    font-weight: 700;
}

.testimonials-body .testimonial svg {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 1024px) {
    .testimonials-container {
        padding: 24px;
    }
}

@media screen and (max-width: 640px) {
    .testimonials-body {
        flex-direction: column;
        gap: 12px;
    }

    .testimonials-body .feature svg {
        width: 32px;
        height: 32px;
    }
}

/* Testimonials End */

/* Invitation Start */
.invitation-container {
    padding: 24px 0;
}

.invitation {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.invitation-content {
    max-width: 640px;
}

.invitation-content h2 {
    font-weight: 700;
}

.invitation-content h2 > span {
    background-color: var(--amber-base);
}

.invitation-content p {
    text-align: justify;
    margin-bottom: 16px;
}

.invitation-content .join-link {
    background-color: var(--amber-base);
    font-weight: 700;
    color: var(--light-base);
    padding: 8px 16px;
    border-radius: 4px;
}

.invitation-image img {
    width: 256px;
}

@media screen and (max-width: 1024px) {
    .invitation-container {
        padding: 24px;
    }
}

@media screen and (max-width: 640px) {
    .invitation {
        flex-direction: column;
        gap: 12px;
        position: relative;
    }

    .invitation-image img {
        top: -24px;
        right: 0;
        width: 128px;
        position: absolute;
        z-index: -1;
    }
}

/* Invitation End */

/* Contact Us Start */
.contact-us-container {
    padding: 24px 0;
}

.contact-us {
    max-width: 1024px;
    margin: auto;
}

.contact-us-head h2 {
    font-weight: 700;
}

.contact-us-body {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    gap: 36px;
}

.contact-us-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us-content .social-medias-about-us {
    display: flex;
    gap: 16px;
}

.contact-us-content p > a {
    background-color: var(--amber-base);
    font-weight: 600;
    color: var(--dark-base);
}

.contact-us-form {
    flex: 1;
}

.contact-us-form form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us-form form label {
    font-weight: 700;
}

.contact-us-form form input,
.contact-us-form form textarea {
    padding: 12px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: "Nunito", sans-serif;
}

.contact-us-form form button {
    background-color: var(--green-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
}

.social-medias-about-us svg {
    width: 36px;
    height: 36px;
    color: var(--dark-base);
}

@media screen and (max-width: 1024px) {
    .contact-us-container {
        padding: 24px;
    }
}

@media screen and (max-width: 640px) {
    .contact-us-body {
        flex-direction: column;
        gap: 12px;
    }

    .contact-us-content .social-medias-about-us {
        gap: 8px;
    }

    .contact-us-content .social-medias-about-us svg {
        width: 24px;
        height: 24px;
    }
}
/* Contact Us End */
/* About Us End */

/* Homepage Start */
/* Hero Section Start */
.hero-homepage-container {
    position: relative;
    min-height: 512px;
    padding: 196px 8px 128px;
    background: url("../images/elements/italian-foods.png") center/cover no-repeat;
}

.hero-homepage {
    gap: 16px;
    color: var(--light-base);
    max-width: 1024px;
    margin: auto;
}

.hero-homepage-content {
    max-width: 640px;
}

.hero-homepage-content h1 {
    font-weight: 700;
}

.hero-homepage-content span {
    background-color: var(--amber-base);
    color: var(--dark-base);
}

.hero-homepage-content p {
    margin-bottom: 16px;
}

.hero-homepage-content a {
    background-color: var(--amber-base);
    font-weight: 700;
    color: var(--dark-base);
    padding: 4px 12px;
    border-radius: 12px;
}

/* Homepage End */

/* Categories Start */
.categories-container {
    padding: 24px 8px;
}

.categories {
    max-width: 1024px;
    margin: auto;
}

.categories h2 {
    font-weight: 700;
    margin-bottom: 12px;
}

.categories-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
}

.categories-list .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 24px;
    flex: 1;
    border: 3px solid var(--green-base);
    background-color: rgba(22, 163, 74, 0.1);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.categories-list .category-item:hover {
    background-color: rgba(22, 163, 74, 0.6);
    color: var(--light-base);
}

.categories-list .category-item img {
    width: 64px;
    height: 64px;
}

.categories-list .category-item h3 {
    font-size: 1.25rem;
}

@media screen and (max-width: 640px) {
    .categories-list {
        gap: 8px;
    }

    .categories-list .category-item {
        max-width: 128px;
        flex: 1;
    }

    .categories-list .category-item img {
        width: 64px;
        height: 64px;
    }
}

/* Categories End */

/* Recipes Start */
.recipes-container {
    padding: 24px 8px;
}

.recipes {
    max-width: 1024px;
    margin: auto;
}

.recipes h2 {
    font-weight: 700;
    margin-bottom: 12px;
}

.recipes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    gap: 24px;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 24px;
    border: 3px solid var(--green-base);
    background-color: rgba(22, 163, 74, 0.1);
}

.recipe-item .user-recipe {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
}

.recipe-item .user-recipe img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.recipe-item img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.recipe-item h3 {
    font-weight: 700;
}

.recipe-item p {
    text-align: justify;
}

.recipe-time-past svg {
    width: 20px;
    height: 20px;
}

.recipe-time-past {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 300;
}

@media screen and (max-width: 1024px) {
    .recipes-list {
        gap: 16px;
    }
}

@media screen and (max-width: 640px) {
    .recipes-list {
        gap: 8px;
        grid-template-columns: 1fr 1fr;
    }

    .recipe-item img {
        aspect-ratio: 16/10;
    }
}

/* Recipes End */

/* Add Recipe Start */
.add-recipe-container {
    padding: 96px 8px;
}

.add-recipe {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.add-recipe-content {
    width: 67%;
}

/* Add Recipe Aside Start */
.add-recipe-aside {
    width: 33%;
    text-align: justify;
}

.add-recipe-aside-action form {
    display: flex;
    gap: 16px;
    margin-top: 4px;
}

.add-recipe-aside-action form button {
    background-color: var(--green-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
}

.add-recipe-aside-action form button[name="clear"] {
    background-color: var(--red-base);
}

/* Add Recipe Aside End */

/* Add Recipe Content Start */
.add-recipe .add-recipe-head {
    margin-bottom: 12px;
}

.add-recipe .add-recipe-head h1 {
    font-weight: 700;
}

.add-recipe-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    font-weight: 500;
}

.form-group button {
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 12px;
    outline: none;
    border: none;
}

.form-group button.add-ingredients,
.form-group button.add-steps {
    background-color: var(--blue-base);
}

.form-group button.delete-ingredients,
.form-group button.delete-steps {
    background-color: var(--red-base);
}

.add-recipe-form input,
.add-recipe-form textarea,
.add-recipe-form select {
    padding: 12px;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    border-radius: 12px;
}

.add-recipe-form button[type="submit"] {
    background-color: var(--green-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 12px;
}

#stepsList > div,
#ingredientsList > div {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
}

#stepsList > div input,
#ingredientsList > div input {
    flex: 1;
}

.custom-file-upload {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.custom-file-upload span {
    display: block;
    background-color: var(--blue-base);
    color: var(--light-base);
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--blue-base);
}

.image-preview-container {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 256px;
}

.file-preview {
    position: relative;
}

.image-preview-container .file-preview img {
    max-width: 256px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 12px;
}

.image-preview-container .remove-button {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--red-base);
    color: var(--light-base);
    font-weight: 900;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 30px;
    height: 30px;
}

.image-preview-container .remove-button svg {
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 640px) {
    .add-recipe {
        flex-direction: column;
        gap: 24px;
    }

    .add-recipe-content {
        width: 100%;
    }

    .add-recipe-aside {
        width: 100%;
        text-align: justify;
    }

    .add-recipe-form {
        gap: 8px;
    }
}

/* Add Recipe Content End */

/* Add Recipe End */

/* Detail Start */
.detail-container {
    padding: 96px 8px 48px;
}

.detail {
    max-width: 1024px;
    margin: auto;
}

.detail-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: justify;
}

.detail-head {
    display: flex;
    flex-direction: column;
}

.detail-head .detail-image img {
    width: 100%;
    max-height: 480px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 12px;
}

.detail-head .category {
    padding: 4px 8px;
    background-color: var(--dark-base);
    color: var(--light-base);
    width: fit-content;
    border-radius: 12px;
}

.detail-profile {
    display: flex;
    align-items: center;
    gap: 4px;
}

.detail-profile img {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.detail-profile p.detail-profile-username {
    font-weight: 700;
}

.detail h2 {
    font-weight: 700;
}

.detail-body .detail-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-position: inside;
}

.detail-body .detail-description h2 {
    margin: 0;
}

.detail-action form {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.detail-action form button {
    background-color: inherit;
    color: var(--amber-base);
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid var(--amber-base);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.detail-action form button svg {
    width: 24px;
    height: 24px;
}

/* Detail End */

/* Search Start */
.search-container {
    padding: 96px 8px 48px;
}

.search {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.search .search-head h2 {
    font-weight: 700;
    margin-bottom: 12px;
}

.search .search-head .search-form form {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.search .search-head .search-form form select {
    padding: 12px;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    border-radius: 12px;
}

.search .search-head .search-form form input {
    padding: 12px;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    border-radius: 12px;
    width: 296px;
}

.search .search-head .search-form form button {
    background-color: var(--blue-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 12px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    gap: 24px;
}

.pagination {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    justify-content: center;
}

.pagination a {
    color: var(--dark-base);
    border: 2px solid var(--dark-base);
    font-weight: 700;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 12px;
    outline: none;
}

.pagination a.active {
    background-color: var(--blue-base);
    color: var(--light-base);
    border: none;
}

.no-recipe {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;

}

.no-recipe img {
    max-width: 360px;
    margin: auto    ;
}

@media screen and (max-width: 640px) {
    .search-list {
        gap: 8px;
        grid-template-columns: 1fr 1fr;
    }

    .no-recipe img {
        max-width: 240px;
    }
}
/* Search End */

/* Profile Settings Start */
.profile-settings-container {
    padding: 128px 8px 96px;
}

.profile-settings {
    max-width: 1024px;
    margin: auto;
    display: flex;
    gap: 24px;
}

.profile-settings-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.profile-settings-content .profile-settings-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 512px;
}

.profile-settings-content .profile-settings-form form input,
.profile-settings-content .profile-settings-form form select {
    padding: 12px;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
    color: var(--dark-base);
    border-radius: 12px;
}

.profile-settings-content .profile-settings-form form button[type="submit"] {
    background-color: var(--green-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 12px;
    outline: none;
    border: none;
}

#profileSettingsPhoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.profile-settings-photo img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-upload label {
    background-color: var(--blue-base);
    padding: 8px 12px;
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
    color: var(--light-base);
}

#profilePhoto {
    display: none;
}

.profile-settings-content .profile-settings-form form button[name="clear"] {
    background-color: var(--red-base);
}

.profile-settings-content .profile-settings-form form button[name="delete"] {
    background-color: var(--red-base);
}

.profile-settings-content
.profile-settings-form
form
button[name="delete"]:hover {
    background-color: #ff0000;
}

/* Profile Settings End */

/* Password Update Start */

.password-update-container {
    min-height: 640px !important;
}


/* Password Update End */

/* Manage Recipes Start */
.manage-recipes-container {
    padding: 128px 8px 96px;
}

.manage-recipes {
    max-width: 1024px;
    margin: auto;
    display: flex;
    gap: 24px;
}

.manage-recipes-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.manage-recipes-content .manage-recipes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    gap: 24px;
}

.manage-recipe-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 24px;
    border: 3px solid var(--green-base);
    background-color: rgba(22, 163, 74, 0.1);
    position: relative;
}

.manage-recipe-item img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.manage-recipe-item .user-recipe {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
}

.manage-recipe-item .user-recipe img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.manage-recipe-item h3 {
    font-weight: 700;
}

.recipe-action {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.recipe-action a svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--light-base);
    border-radius: 50%;
    padding: 8px;
    border: none;
    background-color: var(--blue-base);
}

.recipe-action button {
    background-color: transparent;
    border: none;
}

.recipe-action form button svg {
    width: 40px;
    height: 40px;
    background-color: var(--red-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    justify-content: center;
}

.pagination a {
    color: var(--dark-base);
    border: 2px solid var(--dark-base);
    font-weight: 700;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 12px;
    outline: none;
}

.pagination a.active {
    background-color: var(--blue-base);
    color: var(--light-base);
    border: none;
}

@media screen and (max-width: 640px) {
    .manage-recipes-content .manage-recipes-list {
        gap: 8px;
        grid-template-columns: 1fr 1fr;
    }
}

/* Manage Recipes End */

/* Saved Recipes Start */
.saved-recipes-container {
    padding: 128px 8px 96px;
}

.saved-recipes {
    max-width: 1024px;
    margin: auto;
    display: flex;
    gap: 24px;
}

.saved-recipes-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.saved-recipes-content .saved-recipes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    gap: 24px;
}

.saved-recipe-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 24px;
    border: 3px solid var(--green-base);
    background-color: rgba(22, 163, 74, 0.1);
    position: relative;
}

.saved-recipe-item img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.saved-recipe-item .user-recipe {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
}

.saved-recipe-item .user-recipe img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.saved-recipe-item h3 {
    font-weight: 700;
}

.recipe-action {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.recipe-action a svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--light-base);
    border-radius: 50%;
    padding: 8px;
    border: none;
    background-color: var(--blue-base);
}

.recipe-action button {
    background-color: transparent;
    border: none;
}

.saved-recipes-list .saved-recipe-item .recipe-action button svg {
    width: 40px;
    height: 40px;
    background-color: var(--amber-base);
    color: var(--light-base);
    font-weight: 700;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .saved-recipes-content .saved-recipes-list {
        gap: 8px;
        grid-template-columns: 1fr 1fr;
    }
}

/* Saved Recipes End */
